.custom-scroll {
  scrollbar-color: oklch(0.53 0.19 351.02) transparent;
  scrollbar-width: thin;
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: oklch(0.53 0.19 351.02);
  border-radius: 10px;
}