<section class="w-full flex h-fit justify-center align-middle pt-5 px-4">
    <div class="flex w-full max-w-5xl flex-col h-auto drop-shadow-2xl backdrop-blur-sm">
        
        <div class="flex flex-col lg:flex-row w-full justify-center gap-4 md:gap-10 p-5">
        @if (topArticles[0]) {
            <div class="flex flex-col items-center w-full lg:flex-1">
                <div class="w-full h-16 md:h-20 justify-center items-center flex">
                    <h1 class="font-[Fixture] italic text-3xl md:text-5xl text-[oklch(0.27_0.02_267.98)]">
                        LATEST
                    </h1>
                </div>

                <div class="w-full h-48 md:h-96 relative hover:scale-101 transition-all duration-65 active:scale-100 ease-in-out">
                    <a href="" target="_parent">
                        <img src="{{ topArticles[0].imgUrl }}" class="w-full h-full object-fill ">
                        <div class="justify-end items-center flex absolute inset-0 flex-col ">
                            <div class="backdrop-blur-3xl drop-shadow-2xl w-[90%] px-3 md:px-5 py-2 md:py-3 mb-3 md:mb-5 flex flex-col">
                                <h1 class="font-[IndustryBaby] text-sm md:text-xl truncate">
                                    {{ topArticles[0].title }}
                                </h1>
                                <p class="font-[IndustryBaby] text-xs md:text-md truncate">
                                    {{ topArticles[0].description }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
            <div class="w-full lg:w-fit h-full flex flex-col gap-3 md:gap-5 justify-start lg:justify-end">
                @for (article of topArticles.slice(1,4); track article.title) {
                    <div class="w-full h-24 md:h-30 relative hover:scale-101 transition-all duration-65 active:scale-100 ease-in-out">
                    <a href="" target="_parent" class="">
                        <img [src]="article.imgUrl" class="w-full h-full object-cover">
                        <div class="justify-end items-center flex absolute inset-0 flex-col">
                            <div class="backdrop-blur-3xl drop-shadow-2xl w-[90%] px-2 md:px-5 py-1 md:py-2 mb-1 md:mb-2 flex flex-col">
                                <h1 class="font-[IndustryBaby] text-xs md:text-sm truncate">
                                    {{ article.title }}
                                </h1>
                                <p class="font-[IndustryBaby] text-xs truncate">
                                    {{ article.description }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                }
            </div>
        </div>
        
    </div>
</section>
