[build]
  base = "front/f.a.r.t"
  publish = "dist/f.a.r.t/browser"
  command = "npm run build"

  [[redirects]]
  from = "/"
  to = "/home"
  status = 301

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200